@model Grupo3.ReservaDeCine.Models.TipoSala

@{
    ViewData["Title"] = "Delete";
}

<h1>Tipos de Salas</h1>

<h3>¿Está seguro que desea eliminar este tipo de sala?</h3>
<div>
    <h4>TipoSala</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioEntrada)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
